In [1]:
# Import SQL Alchemy
from sqlalchemy import create_engine
import pandas as pd
# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import create_engine, inspect
from config import username, password

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [2]:
# Create a connection to a SQLite database

engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/ETL_DB')

In [3]:
conn = engine.connect()

In [4]:
total_data = pd.read_sql("SELECT * FROM total", conn)
cancer_data = pd.read_sql("SELECT * FROM cancer", conn)
cerebro_data = pd.read_sql("SELECT * FROM cerebrovascular_disease", conn)
clrd_data = pd.read_sql("SELECT * FROM chronic_lower_respiratory_disease", conn)
dementia_data = pd.read_sql("SELECT * FROM dementia", conn)
diabetes_data = pd.read_sql("SELECT * FROM diabetes", conn)
heart_data = pd.read_sql("SELECT * FROM heart_disease", conn)
pneumonia_data = pd.read_sql("SELECT * FROM pneumonia", conn)
respiratory_data = pd.read_sql("SELECT * FROM respiratory_disease", conn)

In [5]:
total_data.head()

,date,2015-19 range,COVID-19 new infections,2015-19 average deaths,2020-21 deaths
0,05-Jan-20,2452|2573,NaN,2498,2498
1,12-Jan-20,2369|2601,NaN,2490,2511
2,19-Jan-20,2368|2607,NaN,2465,2501
3,26-Jan-20,2328|2565,4.0,2446,2597
4,02-Feb-20,2270|2550,8.0,2451,2510

In [6]:
# dropping redundant columns
total_data = total_data.drop(['COVID-19 new infections'], axis=1)

#cleaning total_data table
#adding new columns of total and percent change
total_data['total change'] = total_data['2020-21 deaths'] - total_data['2015-19 average deaths']
total_data['percent total change'] = (total_data['2020-21 deaths'] / total_data['2015-19 average deaths']) * 100 - 100
total_data = total_data.round(2)

#renaming columns for future joins
total_data = total_data.rename({'2015-19 average deaths': '2015-19 avg total deaths',
                               '2020-21 deaths': '2020-21 total deaths'}, axis=1)

total_data.head()

,date,2015-19 range,2015-19 avg total deaths,2020-21 total deaths,total change,percent total change
0,05-Jan-20,2452|2573,2498,2498,0,0.00
1,12-Jan-20,2369|2601,2490,2511,21,0.84
2,19-Jan-20,2368|2607,2465,2501,36,1.46
3,26-Jan-20,2328|2565,2446,2597,151,6.17
4,02-Feb-20,2270|2550,2451,2510,59,2.41

In [7]:
#cleaning total_data table
#adding new columns of total and percent change
cancer_data['total change'] = cancer_data['2020-21 deaths'] - cancer_data['2015-19 average deaths']
cancer_data['percent total change'] = (cancer_data['2020-21 deaths'] / cancer_data['2015-19 average deaths']) * 100 - 100
cancer_data = cancer_data.round(2)

#renaming columns for future joins
cancer_data = cancer_data.rename({'2015-19 average deaths': '2015-19 avg cancer deaths',
                               '2020-21 deaths': '2020-21 cancer deaths'}, axis=1)

cancer_data.head()

,date,2015-19 range,2015-19 avg cancer deaths,2020-21 cancer deaths,total change,percent total change
0,05-Jan-20,847|906,868,849,-19,-2.19
1,12-Jan-20,817|917,869,899,30,3.45
2,19-Jan-20,853|915,874,912,38,4.35
3,26-Jan-20,806|942,870,931,61,7.01
4,02-Feb-20,762|933,864,830,-34,-3.94

In [8]:
#cleaning total_data table
#adding new columns of total and percent change
cerebro_data['total change'] = cerebro_data['2020-21 deaths'] - cerebro_data['2015-19 average deaths']
cerebro_data['percent total change'] = (cerebro_data['2020-21 deaths'] / cerebro_data['2015-19 average deaths']) * 100 - 100
cerebro_data = cerebro_data.round(2)

#renaming columns for future joins
cerebro_data = cerebro_data.rename({'2015-19 average deaths': '2015-19 cerebrovascular disease deaths',
                               '2020-21 deaths': '2020-21 cerebrovascular disease deaths'}, axis=1)

cerebro_data.head()

,date,2015-19 range,2015-19 cerebrovascular disease deaths,2020-21 cerebrovascular disease deaths,total change,percent total change
0,05-Jan-20,159|200,182,139,-43,-23.63
1,12-Jan-20,162|190,178,166,-12,-6.74
2,19-Jan-20,144|179,167,141,-26,-15.57
3,26-Jan-20,165|203,176,159,-17,-9.66
4,02-Feb-20,156|175,168,162,-6,-3.57

In [9]:
#cleaning total_data table
#adding new columns of total and percent change
clrd_data['total change'] = clrd_data['2020-21 deaths'] - clrd_data['2015-19 average deaths']
clrd_data['percent total change'] = (clrd_data['2020-21 deaths'] / clrd_data['2015-19 average deaths']) * 100 - 100
clrd_data = clrd_data.round(2)

#renaming columns for future joins
clrd_data = clrd_data.rename({'2015-19 average deaths': '2015-19 avg chronic lower respiratory disease deaths',
                               '2020-21 deaths': '2020-21 chronic lower respiratory disease deaths'}, axis=1)

clrd_data.head()

,date,2015-19 range,2015-19 avg chronic lower respiratory disease deaths,2020-21 chronic lower respiratory disease deaths,total change,percent total change
0,05-Jan-20,117|157,133,127,-6,-4.51
1,12-Jan-20,110|144,124,145,21,16.94
2,19-Jan-20,104|138,118,120,2,1.69
3,26-Jan-20,113|141,126,132,6,4.76
4,02-Feb-20,114|134,125,134,9,7.20

In [10]:
#cleaning total_data table
#adding new columns of total and percent change
dementia_data['total change'] = dementia_data['2020-21 deaths'] - dementia_data['2015-19 average deaths']
dementia_data['percent total change'] = (dementia_data['2020-21 deaths'] / dementia_data['2015-19 average deaths']) * 100 - 100
dementia_data = dementia_data.round(2)

#renaming columns for future joins
dementia_data = dementia_data.rename({'2015-19 average deaths': '2015-19 avg dementia deaths',
                               '2020-21 deaths': '2020-21 dementia deaths'}, axis=1)

dementia_data.head()

,date,2015-19 range,2015-19 avg dementia deaths,2020-21 dementia deaths,total change,percent total change
0,05-Jan-20,217|256,232,255,23,9.91
1,12-Jan-20,208|240,224,265,41,18.30
2,19-Jan-20,206|237,220,257,37,16.82
3,26-Jan-20,186|247,218,248,30,13.76
4,02-Feb-20,196|234,220,276,56,25.45

In [11]:
#cleaning total_data table
#adding new columns of total and percent change
diabetes_data['total change'] = diabetes_data['2020-21 deaths'] - diabetes_data['2015-19 average deaths']
diabetes_data['percent total change'] = (diabetes_data['2020-21 deaths'] / diabetes_data['2015-19 average deaths']) * 100 - 100
diabetes_data = diabetes_data.round(2)

#renaming columns for future joins
diabetes_data = diabetes_data.rename({'2015-19 average deaths': '2015-19 avg diabetes deaths',
                               '2020-21 deaths': '2020-21 diabetes deaths'}, axis=1)

diabetes_data.head()

,date,2015-19 range,2015-19 avg diabetes deaths,2020-21 diabetes deaths,total change,percent total change
0,05-Jan-20,66|78,71,86,15,21.13
1,12-Jan-20,69|79,74,71,-3,-4.05
2,19-Jan-20,74|97,83,71,-12,-14.46
3,26-Jan-20,62|99,80,77,-3,-3.75
4,02-Feb-20,63|88,78,80,2,2.56

In [12]:
#cleaning total_data table
#adding new columns of total and percent change
heart_data['total change'] = heart_data['2020-21 deaths'] - heart_data['2015-19 average deaths']
heart_data['percent total change'] = (heart_data['2020-21 deaths'] / heart_data['2015-19 average deaths']) * 100 - 100
heart_data = heart_data.round(2)

#renaming columns for future joins
heart_data = heart_data.rename({'2015-19 average deaths': '2015-19 avg heart disease deaths',
                               '2020-21 deaths': '2020-21 heart disease deaths'}, axis=1)

heart_data.head()

,date,2015-19 range,2015-19 avg heart disease deaths,2020-21 heart disease deaths,total change,percent total change
0,05-Jan-20,245|291,269,215,-54,-20.07
1,12-Jan-20,246|272,258,218,-40,-15.50
2,19-Jan-20,244|304,272,234,-38,-13.97
3,26-Jan-20,210|271,245,244,-1,-0.41
4,02-Feb-20,257|276,267,235,-32,-11.99

In [13]:
#cleaning total_data table
#adding new columns of total and percent change
pneumonia_data['total change'] = pneumonia_data['2020-21 deaths'] - pneumonia_data['2015-19 average deaths']
pneumonia_data['percent total change'] = (pneumonia_data['2020-21 deaths'] / pneumonia_data['2015-19 average deaths']) * 100 - 100
pneumonia_data = pneumonia_data.round(2)

#renaming columns for future joins
pneumonia_data = pneumonia_data.rename({'2015-19 average deaths': '2015-19 avg pneumonia deaths',
                               '2020-21 deaths': '2020-21 pneumonia deaths'}, axis=1)

pneumonia_data.head()

,date,2015-19 range,2015-19 avg pneumonia deaths,2020-21 pneumonia deaths,total change,percent total change
0,05-Jan-20,37|58,45,42,-3,-6.67
1,12-Jan-20,37|49,42,40,-2,-4.76
2,19-Jan-20,33|44,37,37,0,0.00
3,26-Jan-20,29|40,35,44,9,25.71
4,02-Feb-20,31|50,37,31,-6,-16.22

In [14]:
#cleaning total_data table
#adding new columns of total and percent change
respiratory_data['total change'] = respiratory_data['2020-21 deaths'] - respiratory_data['2015-19 average deaths']
respiratory_data['percent total change'] = (respiratory_data['2020-21 deaths'] / respiratory_data['2015-19 average deaths']) * 100 - 100
respiratory_data = respiratory_data.round(2)

#renaming columns for future joins
respiratory_data = respiratory_data.rename({'2015-19 average deaths': '2015-19 avg respiratory deaths',
                               '2020-21 deaths': '2020-21 respiratory disease deaths'}, axis=1)

respiratory_data.head()

,date,2015-19 range,2015-19 avg respiratory deaths,2020-21 respiratory disease deaths,total change,percent total change
0,05-Jan-20,215|263,233,240,7,3.00
1,12-Jan-20,203|251,220,240,20,9.09
2,19-Jan-20,193|233,206,222,16,7.77
3,26-Jan-20,197|242,218,242,24,11.01
4,02-Feb-20,200|229,219,226,7,3.20